
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif }

body, html {
  background-image: url("https://cdn0.scrvt.com/ac51b901cd9ed4ddd4d6e786101a9cb4/9fb4452ebf82a07a/9c5f71ba7acb/v/b47cf1026a68/9fb4452ebf82a07a-38e6081c64ad-emile-perron-190221.jpg?nowebp=1");
  height: 100%;
  line-height: 1.8;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

h1 , h3 {
  padding: 16px;
  color:white
}