{% extends "base.html" %} {% block title %}About Us{% endblock %}
<!--block link bray link kardan file css!-->>
{% block link%}{% endblock %}
{% block content %}
<br>
<br>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  <link rel="stylesheet" href="{{ url_for('static', filename='js/home.js') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <br><br><br><br>
    <div class="w3-display-left w3-text-white" style="padding:48px"></div>
    <h1 class="w3-jumbo w3-hide-small">A social network for programmers</h1>
    <h1 class="w3-xxlarge w3-hide-large w3-hide-medium">A social network</h1>
    <H3 class="w3-large">With free registration, you can enter the community of programmers and start your activity :)</H3>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p><a href="/login" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
</body>
</html>
{% endblock %}