{% extends "base.html" %} {% block title %}About Us{% endblock %}
<!--block link bray link kardan file css!-->>
{% block link%}{% endblock %}
{% block content %}
<br>
<br>

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif }

body, html {
  background-image: url("https://cdn0.scrvt.com/ac51b901cd9ed4ddd4d6e786101a9cb4/9fb4452ebf82a07a/9c5f71ba7acb/v/b47cf1026a68/9fb4452ebf82a07a-38e6081c64ad-emile-perron-190221.jpg?nowebp=1");
  height: 100%;
  line-height: 1.8;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

h1 , h3 {
  padding: 16px;
  color:white
}
</style>
</head>
<body>
    <br><br><br><br>
    <div class="w3-display-left w3-text-white" style="padding:48px"></div>
    <h1 class="w3-jumbo w3-hide-small">A social network for programmers</h1>
    <h1 class="w3-xxlarge w3-hide-large w3-hide-medium">A social network</h1>
    <H3 class="w3-large">With free registration, you can enter the community of programmers and start your activity :)</H3>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p><a href="/login" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
</body>
</html>
{% endblock %}