{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <div class="p-3 mb-2 bg-success text-white">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="Email">Email Address</label>
        <input 
        type="text" 
        id="email" 
        name="email" 
        class="form-control" 
        placeholder="Enter Email Adress">

        <label for="paassword">Password</label>
        <input 
        type="password" 
        id="password" 
        name="password" 
        class="form-control" 
        placeholder="Enter Password">
        <br>

        <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</div>
</form>

{% endblock %}