{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block link %}{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/singup.css') }}">
</head>
<body>
<br>
<br>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<div id="login-form-wrap">
		<h2>Login</h2>
		<form id="login-form" method="post">
			<p>
			<input type="email" id="email" name="email" placeholder="Email Address" required>
			<i class="validation"><span></span><span></span></i>
			</p>
			<p>
			<input type="password" id="username" name="password" placeholder="Enter password" required>
			<i class="validation"><span></span><span></span></i>
			</p>
			<p>
			<input type="submit" id="login" value="Login">
			</p>
		</form>
		<div id="create-account-wrap">
			<p>Not a member? <a href="{{ url_for('auth.singup') }}">Create Account</a><p>
		</div>
		</div>
</body>
{% endblock %}
