{% extends "base.html" %} {% block title %}{% endblock %}
{% block content %}
<h1 align="center">{% block header %}Posts</h1>{% endblock %}
<div id="posts">
{% for post in posts %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">

            {% if post.user.image_file %}
                <img src="{{ url_for('static', filename='pictures/' + post.user.image_file) }}" align="left"  class="rounded-circle account-img" width="50">
            {% else %}
                <img src="{{ url_for('static', filename='pictures/profile.jpg') }}" align="left" class="rounded-circle account-img" width="50">
            {% endif %}

            <a href="/posts/{{ post.user.username }}">{{post.user.username}}</a>
            <div class="card-text">{{post.title}}</div>
            <div>
                <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span>

                {% if user.id in post.likes|map(attribute="author")|list %}
                <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
                {% else %}
                <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
                {% endif %}

                {% if user.id == post.author or current_user.id == 2 %}
                <div class="btn-group">
                    <button
                    type="button"
                    class="btn btn-sm btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">{{post.text}}</div>
            <br>
           <div class="collapse" id="comments-{{post.id}}">
                <div class="card">
                    <div class="card-body" id="comments-expanded-{{post.id}}">
                        {% for comment in post.comments %}
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="/posts/{{comment.user.username}}">{{comment.user.username}}
                                    </a>: {{comment.text}}
                                </div>
                                <div>
                                    <small class="text-muted">{{comment.date_created}}</small>
                                    {% if user.id == comment.author or user.id == post.author %}
                                    <div class="btn-group">
                                        <button
                                        type="button"
                                        class="btn btn-sm btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown"></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
           </div>
           <p class="card-text">
            {% if post.comments|length > 0 %}
                    <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                        <small>View {{post.comments|length}} Comments</small>
                    </a>
            {% else %}
                    <small class="text-muted">No Comments</small>
            {% endif %}
           </p>

            <form class="mb-3 input-group" method="post" action="/create-comment/{{post.id}}">
                <input type="text" class="form-control" id="text" name="text" placeholder="Comment something" autocomplete="off">
                <button class="btn btn-primary" type="submit">Comment</button>
            </form>
        </div>
        <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br>
{% endfor %}
{% block footer %}
</div>
    <div align="center">
        <a href="/create-post"><button type="button" class="btn btn-primary btn-lg">
            Create a Post
        </button></a>
    </div>
{% endblock %}
{% endblock %}