{% extends "base.html" %} {% block title %}Profile{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <h2>Profile</h2>
        <form enctype="multipart/form-data" method="post" action="/profile/{{ new_user.id }}">
            <p>
            <input type="text" id="username" name="username" value="{{ new_user.username }}" required>
            <i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <input type="email" id="email" name="email" value="{{ new_user.email }}" required>
            <i class="validation"><span></span><span></span></i>
            </p>
            <p>
            <button type="submit" class="btn btn-primary btn-m">Submit</button>
            <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="profile_pic" id="profile_pic">
                    
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </div>
            </div>
            <a href="/home"><button type="button" class="btn btn-secondary btn-m">Cancel</button></a>
            </p>
        </form>
    </div>
{% endblock %}