{% extends "base.html" %}
{% block title %}Sing Up{% endblock %}
{% block link %}
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/singup.css') }}">
</head>
<br>
<br>

	<div id="login-form-wrap">
	  <h2>Sing UP</h2>
	  <form id="login-form" method="post">
		<p>
		<input type="text" id="username" name="username" placeholder="Enter Username" required>
		<i class="validation"><span></span><span></span></i>
		</p>
        <p>
        <input type="text" id="email" name="email" placeholder="Enter Email Address" required>
        <i class="validation"><span></span><span></span></i>
        <p>
        <input type="password" id="password1" name="password1" placeholder="Enter password" required>
        <i class="validation"><span></span><span></span></i>
        </p>
        <input type="password" id="password2" name="password2" placeholder="Enter Password Again" required>
        <i class="validation"><span></span><span></span></i>
        </p>
		<p>
		<input type="submit" id="login" value="singup">
		</p>
	  </form>
	  <div id="create-account-wrap">
		<p>Do you have an account?  <a href="/login">login</a><p>
	  </div>
	</div>

{% endblock %}
